canvas{
  display:flex;
  justify-content:end;
  background-color: #333;
}

#highscore{
  color:#ccc;
}

.btn{
  padding:0.7rem;
  color:#ccc;
  background-color: #333;
  float:center;
  width:100%;
}
